extends layout

block content
  nav.breadcrumb 
    ol.breadcrumb 
      li(class="breadcrumb-item")
        a(href="/") Home
      li(class="breadcrumb-item active" aria-current="page")= error.status
  .alert.alert-danger
    h2.alert-heading= message
    p= error.status
    p.mb-0 
      pre #{error.stack}
