extends layout

block content
   .w3-container
      .w3-bar.w3-light-grey
        h1.w3-left.w3-margin News
   .w3-container
         for resource in resources
            .card.mb-3
               .row
                  .col-1
                  .col-11
                     .card-body
                        h5 New Submission: 
                        strong= resource.user.name  
                        |  created a new  
                        = resource.type + " entitled "
                        strong= resource.title  
                        |  - 
                        = resource.subtitle + " on "
                        = resource.creationDate
                        br
                        a.btn.w3-teal(href='/resource/' + resource._id) Show submission
