doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .w3-bar.w3-black
      a.w3-bar-item.w3-button.nav-link(href='/') HOME    
      a.w3-bar-item.w3-button.nav-link(href='/users') USERS
      a.w3-bar-item.w3-button.nav-link(href='/logout') LOGOUT
      a.w3-bar-item.w3-button.nav-link(href='/register') REGISTER
      a.w3-bar-item.w3-button.nav-link(href='/login') LOGIN
      
    block content
