extends layout

block content
    .w3-card-4
      header.w3-container
          table.w3-table-all
            tr 
              th Number
              th Name
              th Course
            tr
                td= user.number               
                td= user.name             
                td= user.course
