extends layout

block content
    nav.breadcrumb 
      ol.breadcrumb 
        li(class="breadcrumb-item")
          a(href="/") Home
        li(class="breadcrumb-item active" aria-current="page") Users
    h1 Users
    .w3-container
    for user in users
        ul
          li Username - 
            = user.username
          li Name - 
            = user.name
          li Course - 
            = user.course
          li Email -   
            = user.email
          li Level - 
            = user.level

